/* Personnalisation des couleurs féminines et créatives */

/* Couleur de fond de l'application */
.App {
  background-color: #ff99cc; /* Rose clair */
  text-align: center;
}

/* Couleur de l'icône */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  color: #ff66b2; /* Rose doux */
}

/* Couleur du nom du produit */
.product-name {
  font-size: 24px;
  font-weight: bold;
  color: #ff66b2; /* Rose doux */
}

/* Couleur de fond de l'en-tête */
.App-header {
  background-color: #ff99cc; /* Rose clair */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Texte blanc */
}

/* Couleur des liens */
.App-link {
  color: #ff66b2; /* Rose doux pour les liens */
}

/* Animation de l'icône */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
